@import "tailwindcss";
@import "antd/dist/reset.css";

body {
  background: #000 !important;
  color: #fff !important;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.card-dark {
  background: #111 !important;
  border: 1px solid rgba(255, 255, 255, 0.05) !important;
  box-shadow:
    0 0 30px rgba(255, 255, 255, 0.08),
    0 0 6px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
}

.text-glow {
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
}

.btn-glow {
  box-shadow:
    0 0 12px rgba(255, 255, 255, 0.6),
    inset 0 0 10px rgba(255, 255, 255, 0.4) !important;
}

